<style>
ul.icons {
	margin: 0 0 1em 0;
}

hr {
	margin: 0 0 2em 0;
}
</style>

<footer>
    <ul class="icons">
		<li><a href="{{ site.github_url }}" class="fa-github" target="_blank">GitHub</a></li>
		<li><a href="{{ site.instagram_url }}" class="fa-instagram" target="_blank">Instagram</a></li>
		<li><a href="{{ site.linkedin_url }}" class="fa-linkedin" target="_blank">LinkedIn</a></li>
		<li><a href="{{ site.blog_url }}" class="fa-bold" target="_blank">Blog</a></li>
	</ul>
</footer>

<hr />
<h3><a href="mailto:shanebweaver@gmail.com">shanebweaver@gmail.com</a></h3>

</section>

<!-- Footer -->
<footer id="footer">
	<ul class="copyright">
		<li>&copy; {{ site.title }} 2019</li>
	</ul>
</footer>

</div>

<!-- Scripts -->
<!--[if lte IE 8]><script src="{{ site.url }}{{ site.baseurl }}/assets/js/respond.min.js"></script><![endif]-->
<script>
	if ('addEventListener' in window) {
		window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
		document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
	}
</script>